#div-container-1 {
  margin: 12px 12px 12px 12px;
  padding: 12px;
  height: 300px;
  width: 50%;
  display: none;
}

div {
  display: inline-block;
}

#div-container-2 {
  margin: 12px 12px 12px 12px;
  padding: 12px;
}

#div-container-2:hover {
  background-color: aqua;
}
